[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:llvm/llvm-project.git
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
